<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>PERGUNTAS-RESPOSTAS</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/css/style.css" />
    <link rel="icon" href="/images/search.png" type="image/png" />
  </head>
  <body>
    <%- include('partials/navbar.ejs') %>
    <div class="container">
      <div class="card mb-4">
        <div class="card-body">
          <h3><%= pergunta.titulo %></h3>
          <p><%= pergunta.descricao %></p>
        </div>
        <div class="card-footer">
          <small class="text-muted">
            Feita por <%= pergunta.perguntador %> em <%= new
            Date(pergunta.data_criacao).toLocaleDateString('pt-BR', { year:
            'numeric', month: 'long', day: 'numeric' }) %>
          </small>
          <button
            class="btn btn-danger btn-sm"
            onclick="apagarPergunta('<%= pergunta.id %>')"
          >
            Apagar Pergunta
          </button>
        </div>
      </div>

      <h4>Respostas:</h4>
      <ul class="list-group mb-4">
        <% if (pergunta.resposta && pergunta.resposta.length > 0) { %> <%
        pergunta.resposta.forEach(function(resposta) { %>
        <li class="list-group-item">
          <p><strong><%= resposta.nome_autor %>:</strong> <%= resposta.texto %></p>
          <div>
            <button
              class="btn btn-primary btn-sm"
              onclick="likeResposta('<%= resposta.id %>')"
            >
              Curtir (<span id="likes-<%= resposta.id %>"
                ><%= resposta.likes %></span
              >)
            </button>
            <button
              class="btn btn-danger btn-sm"
              onclick="apagarResposta('<%= resposta.id %>')"
            >
              Deletar Resposta
            </button>
          </div>
          <small class="text-muted">
            Respondida em: <%= new
            Date(resposta.data_criacao).toLocaleDateString() %>
          </small>
        </li>
        <% }); %> <% } else { %>
        <li class="list-group-item">Nenhuma resposta ainda.</li>
        <% } %>
      </ul>

      <h4>Adicionar Resposta:</h4>
      <form action="/pergunta/<%= pergunta.id %>/resposta" method="POST">
        <div class="form-group mb-3">
          <label>Autor</label>
          <input
            type="text"
            placeholder="Nome"
            class="form-control"
            name="nome"
            required
          />
          <label>Resposta</label>
          <textarea
            name="texto"
            class="form-control"
            rows="3"
            placeholder="Digite sua resposta aqui..."
            required
          ></textarea>
        </div>
        <button type="submit" class="btn btn-success">Enviar Resposta</button>
      </form>
    </div>

    <script>
      function likeResposta(respostaId) {
        fetch(`/resposta/${respostaId}/like`, {
          method: "POST",
          headers: {
            "Content-Type": "application/json",
          },
        })
          .then((response) => response.json())
          .then((data) => {
            if (data.success) {
              const likesElement = document.getElementById(
                `likes-${respostaId}`
              );
              likesElement.textContent = data.likes;
              location.reload();
            } else {
              alert("Erro ao curtir a resposta.");
            }
          })
          .catch((error) => {
            console.error("Erro:", error);
            alert("Erro ao curtir a resposta.");
          });
      }
      function apagarPergunta(perguntaId) {
        if (confirm("Tem certeza que deseja apagar esta pergunta?")) {
          fetch(`/pergunta/delete/${perguntaId}`, {
            method: "DELETE",
            headers: {
              "Content-Type": "application/json",
            },
          })
            .then((response) => {
              if (response.ok) {
                alert("Pergunta apagada com sucesso.");
                window.location.href = "/"; // Redireciona após apagar
              } else {
                alert("Erro ao apagar a pergunta.");
              }
            })
            .catch((error) => {
              console.error("Erro:", error);
              alert("Erro ao apagar a pergunta.");
            });
        }
      }
      function apagarResposta(respostaId) {
        if (confirm("Tem certeza que deseja apagar esta resposta?")) {
          fetch(`/resposta/${respostaId}/delete`, {
            method: "DELETE",
            headers: {
              "Content-Type": "application/json",
            },
          })
            .then((response) => {
              if (response.ok) {
                alert("Resposta apagada com sucesso.");
                location.reload(); // Recarrega a página após apagar
              } else {
                alert("Erro ao apagar a resposta.");
              }
            })
            .catch((error) => {
              console.error("Erro:", error);
              alert("Erro ao apagar a resposta.");
            });
        }
      }
    </script>

    <%- include('partials/footer.ejs') %>
  </body>
</html>
